MYSQL_DATABASE=konnekt
MYSQL_USER=konnekt
MYSQL_PASSWORD=konnekt
MYSQL_ROOT_PASSWORD=change-me
MYSQL_PORT=3306

MONGODB_DATABASE=konnekt
MONGODB_PORT=27017

API_PORT=8081
WEB_PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:9000
DEMO_DATA_ENABLED=true
